body {
    width: 550px;
    margin: 50px auto;
    border: solid black 3px;
    padding: 50px;
    padding-top: 5px;
}

h1{
    text-align: center;
    text-decoration: underline;
}

input {
    width: 140px;
}

.inputs {
   margin-top: 50px;
   line-height: 30px;
}

img {
    float: left;
    margin-right:80px;
}

#end {
    margin: 10px;
}

#tri {
    width: 0;
    height: 0;
    border-right: 0px solid transparent;
    border-bottom: 0px solid black;
}